@import url(http://fonts.googleapis.com/css?family=font-name);

:root {
    
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    --title-font: 'Nerko One', cursive;
    --title-color: #ff9614;
    --primary: #7c69a4;
    --main-bg: #f6f5f3;

    * {
        /* border: 1px dotted black; */
    }
}

.debug {
    * {
        border: 1px dotted black;
        min-height: 50px;
    }

    .col {
        width: auto;
        flex-basis: auto;
        flex-grow: 1;
        background-color: palevioletred;
    }
    
    .col1 {
        width: calc(100%/12*1);
        background-color: blueviolet;
    }
    
    .col2 {
        width: calc(100%/12*2);
        background-color: brown;
    }
    
    .col3 {
        width: calc(100%/12*3);
        background-color: cornflowerblue;
    }
    
    .col4 {
        width: calc(100%/12*4);
        background-color: aquamarine;
    }
    
    .col5 {
        width: calc(100%/12*5);
        background-color: chocolate;
    }
    
    .col6 {
        width: 50%;
        background-color: darkgoldenrod;
    }
    
    .col7 {
        width: calc(100%/12*7);
        background-color: palegreen;
    }
    
    .col8 {
        width: calc(100%/12*8);
        background-color: paleturquoise;
    }
    
    .col9 {
        width: calc(100%/12*9);
        background-color: darkorchid;
    }
    
    .col10 {
        width: calc(100%/12 *10);
        background-color: darkcyan;
    }
    
    .col11 {
        width: calc(100%/12*11);
        background-color: deepskyblue;
    }
    
    .col12 {
        width: 100%;
        background-color: bisque;
    }
}

/* Common */

img {
    max-width: 100%;
}

/* Utility classes */

.m-auto {
    margin: 0 auto;
}

.min-min-h {
    min-height: 50px;
}

.min-m {
    margin: 5px;
}

.min-p {
    padding: 5px;
}

.f-row {
    display: flex;
    flex-direction: row;
}

.f-col {
    display: flex;
    flex-direction: column;
}

.f-j-start {
    justify-content: start;
}

.f-j-center {
    justify-content: center;
}

.f-j-end {
    justify-content: end;
}

.f-j-sb {
    justify-content: space-between;
}

.f-j-sa {
    justify-content: space-around;
}

.f-j-se {
    justify-content: space-evenly;
}

.f-a-start {
    align-items: start;
}

.f-a-center {
    align-items: center;
}

.f-a-end {
    align-items: end;
}

.f-a-stretch {
    align-items: stretch;
}

.f-wrap {
    flex-wrap: wrap;
}

.min-gap {
    gap: 5px;
}

.f-grow {
    flex-grow: 1;
}

.ta-left {
    text-align: left;
}

.ta-center {
    text-align: center;
}

.ta-right {
    text-align: right;
}

.ta-justify {
    text-align: justify;
}

.bold {
    font-weight: 700;
}

.semibold {
    font-weight: 500;
}

.fs-small {
    font-size: 0.5rem;
}

.fs-big {
    font-size: 1.5rem;
}

.col {
    width: auto;
    flex-basis: auto;
    flex-grow: 1;
}

.col1 {
    width: calc(100%/12*1);
}

.col2 {
    width: calc(100%/12*2);
}

.col3 {
    width: calc(100%/12*3);
}

.col4 {
    width: calc(100%/12*4);
}

.col5 {
    width: calc(100%/12*5);
}

.col6 {
    width: 50%;
}

.col7 {
    width: calc(100%/12*7);
}

.col8 {
    width: calc(100%/12*8);
}

.col9 {
    width: calc(100%/12*9);
}

.col10 {
    width: calc(100%/12 *10);
}

.col11 {
    width: calc(100%/12*11);
}

.col12 {
    width: 100%;
}

/* Header */

#header {
    max-width: 100%;

    #title {
        width: 100%;
        margin: auto;
        padding: 20px;
        text-align: center;
        font-family: var(--title-font);
        font-size: 1.7rem;
        font-weight: 700;
        color: var(--title-color);
        text-shadow: 1px 1px 1px grey;
    }
}

/* Main */

#main {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--main-bg);
    margin: auto;

    #categ-title {
        margin-bottom: 20px;
        color: grey;
        font-size: 0.8rem;
    }

    #rec-title {
        margin-bottom: 30px;
        color: rgb(95, 1, 95);
        font-size: 1.7rem;
        font-weight: 700;

        #rec-title-more {
            display: none;
        }
    }

    #card {
        background-color: #fff;
        box-shadow: 1px 1px 3px rgb(203, 203, 203);
        border-radius: 3px;
        margin-bottom: 20px;

        #card-vid {
            max-width: 100%;

            #emb-vid {
                max-width: 100%;
            }
        }

        #card-desc {
            padding: 40px;

            #card-list-title {
                font-size: 1.2rem;
                margin-bottom: 30px;
            }

            #card-list {

                li {
                    margin: 15px 0;
                }

                li:last-child {
                    margin: 0;
                }
            }
        }
    }

    #share {
        margin-bottom: 20px;

        .social-link {
            background-color: #fff;
            border-radius: 75px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }
    }

    #banner {
        display: none;
        margin-bottom: 30px;
    }


}

/* Footer */

#footer {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--primary);
    color: #fff;
    font-size: 0.8rem;

    #foot-copy {
        margin-bottom: 10px;
    }

    #foot-address {
        margin-bottom: 10px;
    }

    #foot-nav {

        ul {
            gap: 10px
        }

        a {
            color: #fff;
            text-decoration: underline;
        }
    }
}

/* Media queries */

@media screen and (min-width: 576px) {
    body {
        width: 100%;
    }

}

@media screen and (min-width: 768px) {
    body {
        width: 100%;
    }

    /* Header */
    #header {

        #title {
            text-align: left;
        }
    }

    /* Main */
    #main {
        
        #rec-title {

            #rec-title-more {
                display: inline;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    body {
        width: 100%;
    }
}